{% comment %}New initial code template{% endcomment %}
{% block env %}{% endblock env %}

{% block start %}
def time_converter(time: str) -> str:
    # replace this for solution
    return ""
{% endblock start %}

{% block example %}
print('Example:')
print(time_converter('12:30'))
{% endblock %}

{% block tests %}
{% for t in tests %}
assert {% block call %}time_converter({{t.input|p_args}}){% endblock %} == {% block result %}{{t.answer|p}}{% endblock %}{% endfor %}
{% endblock %}

{% block final %}
print("The mission is done! Click 'Check Solution' to earn rewards!")
{% endblock final %}